* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f0f0f0;
}

input {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

button {
    padding: 10px 30px;
    font-size: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #75808c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #61a1e6;
}

.weather-info {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.weather-info h2, .weather-info p {
    margin: 10px 0;
}

.weather-info h2 {
    font-size: 1.8rem;
}

.weather-info p {
    font-size: 1.2rem;
    color: #d1d1d1;
}
